p {
    color: red;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 100;
    font-style: italic;
    text-align: start;
    line-height: 1.3;
    letter-spacing: 1px;
}

span {
    text-decoration: line-through;
    color: brown;
}